* {
    font-family: 'Fredoka', sans-serif;
    margin: 0%;
    padding: 0%;
    scroll-behavior: smooth;
}

body {
    background-color: #1d262a;
    color: white;
    text-align: center;
}

body::-webkit-scrollbar {
    display: none;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.main {
    user-select: none;
}

a {
    color: #fff;
    text-decoration: none;
}

.me {
    width: 400px;
    margin: 90px auto;
}

.me p,
.me h1 {
    letter-spacing: 3px;
    text-align: center;
}

.me p {
    font-weight: 200;
}

.me span {
    font-weight: bold;
}

.social {
    position: fixed;
    top: 20px;
}

.social ul {
    padding: 0px;
    -webkit-transform: translate(-270px, 0);
    -moz-transform: translate(-270px, 0);
    -ms-transform: translate(-270px, 0);
    -o-transform: translate(-270px, 0);
    transform: translate(-270px, 0);
}

.social ul li {
    display: block;
    margin: 5px;
    background: rgba(0, 0, 0, 0.36);
    width: 300px;
    text-align: right;
    padding: 10px;
    -webkit-border-radius: 0 30px 30px 0;
    -moz-border-radius: 0 30px 30px 0;
    border-radius: 0 30px 30px 0;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}

.social ul li:hover {
    -webkit-transform: translate(110px, 0);
    -moz-transform: translate(110px, 0);
    -ms-transform: translate(110px, 0);
    -o-transform: translate(110px, 0);
    transform: translate(110px, 0);
    background: rgba(255, 255, 255, 0.4);
}

.social ul li:hover a {
    color: #000;
}

.social ul li:hover i {
    color: #fff;
    background: rgba(0, 0, 0, 0.36);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}

.social ul li i {
    margin-left: 10px;
    color: #000;
    background: #fff;
    padding: 10px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    font-size: 20px;
    background: #ffffff;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
}

#name {
    margin-top: 10%;
    font-size: 45px;
    padding: 8%;
}

#name span:hover {
    color: #b92d32;
}

#scroll {
    position: relative;
    width: 100%;
    height: 100%;
    margin-top: -4vw;
}

#scroll::after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 80%;
}

#section02 a {
    padding-top: 60px;
}

#section02 a span {
    position: absolute;
    top: 0;
    left: 50%;
    width: 46px;
    height: 46px;
    margin-left: -23px;
    border: 1px solid #fff;
    border-radius: 100%;
    box-sizing: border-box;
}

#section02 a span::after {
    position: absolute;
    top: 50%;
    left: 50%;
    content: '';
    width: 16px;
    height: 16px;
    margin: -12px 0 0 -8px;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    box-sizing: border-box;
}

.middle {
    background-color: #DCDCDC;
    height: 1866px;
    padding: 50px;
    margin-top: 230px;
}

.cards-list {
    z-index: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card {
    margin: 30px auto;
    width: 300px;
    height: 300px;
    border-radius: 40px;
    box-shadow: 5px 5px 30px 7px rgba(0, 0, 0, 0.25), -5px -5px 30px 7px rgba(0, 0, 0, 0.22);
    cursor: pointer;
    transition: 0.4s;
}

.card .card_image {
    width: inherit;
    height: inherit;
    border-radius: 40px;
}

.card .card_image img {
    width: inherit;
    height: inherit;
    border-radius: 40px;
    object-fit: cover;
}

.card .card_title {
    text-align: center;
    border-radius: 0px 0px 40px 40px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 30px;
    margin-top: -80px;
    height: 40px;
    color: #2c3d42;
}

.card:hover {
    transform: scale(0.9, 0.9);
    box-shadow: 5px 5px 30px 15px rgba(0, 0, 0, 0.25), -5px -5px 30px 15px rgba(0, 0, 0, 0.22);
}

.title-white {
    color: white;
}

.title-black {
    color: #2c3d42;
}

.intro {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    min-width: 850px;
}

.intro:nth-child() {
    align-self: center;
}

.abt-me {
    position: relative;
    width: 800px;
    height: 250px;
    padding: 1%;
    color: #2c3d42;
    display: block;
    content: "";
    margin-top: -2550px;
    border: 1px hidden;
    font-size: 18px;
    border-radius: 40px;
    box-shadow: 5px 5px 30px 7px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 2px 3px 17px 6px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 2px 3px 17px 6px rgba(0, 0, 0, 0.3);
}

.text-box {
    padding: 1%;
    margin-top: -8px;
    font-size: 21px;
    width: 750px;
    height: 250px;
    margin-left: 2%;
}

.wrapper {
    width: 40%;
    min-width: 590px;
    transform: translate(-50%, -50%);
    margin-top: -830px;
    margin-left: 542px;
}

.container {
    width: 100%;
    padding: 30px 30px 50px;
    background-color: rgba(29, 37, 44, 0.8);
    border-radius: 10px;
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2);
}

.skill-sect {
    padding: 0;
    box-sizing: border-box;
    margin: 0 auto;
    width: fit-content;
}

#sk {
    letter-spacing: 2px;
    text-align: center;
    font-size: 29px;
    font-weight: bold;
}

.details {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.bar {
    position: relative;
    border: 2px solid #7598a3;
    border-radius: 20px;
}

.bar div {
    position: relative;
    width: 0;
    height: 9px;
    border-radius: 10px;
    background-color: #7598a3;
}

.skills:not(:last-child) {
    margin-bottom: 30px;
}

#html-bar {
    animation: html-fill 2s forwards;
}

@keyframes html-fill {
    100% {
        width: 89%;
    }
}

#css-bar {
    animation: css-fill 2s forwards;
}

@keyframes css-fill {
    100% {
        width: 32%;
    }
}

#javascript-bar {
    animation: js-fill 2s forwards;
}

@keyframes js-fill {
    100% {
        width: 2%;
    }
}

#jQuery-bar {
    animation: jQuery-fill 2s forwards;
}

@keyframes jQuery-fill {
    100% {
        width: 0%;
    }
}

footer {
    margin-top: 455px;
}

@media all and (max-width: 500px) {
    .card-list {
        flex-direction: column;
    }
    .abt-me {
        margin-right: 149px;
        width: -20px;
    }
    .container {
        margin-top: 500px;
        margin-left: -236px;
        max-width: 50%;
    }
    footer {
        margin-top: -30px;
    }
}

@media all and (min-width: 300px) {
    .text-box {
        font-size: 26px;
    }
}

@media all and (max-width: 850px) {
    .abt-me {
        display: block;
        margin-top: -1700px;
        width: 300px;
        height: 510px;
        margin-left: -370px
    }
    .text-box {
        margin-top: 5px;
        width: 250px;
        padding: 1%;
        margin-left: 23px;
    }
}

@media all and (max-width: 900px) {
    .abt-me {
        display: block;
        margin-top: -1700px;
        width: 300px;
        height: 510px;
        margin-left: -332px
    }
}
